img {
    border: 5px solid silver;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    float: flex;
  }
  
  img {
    display: block;
    margin: auto;
  }
  
  nav ul {
    list-style: none;
  }
  h1 {
    display: white;
    justify-content: center;
    align-items: center;
    background: black;
    color: rgb(14, 197, 197);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    width: 650px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  p ,strong {
    text-align: center;
  }
  
  body {
    font: 24px Helvetica;
  }
  #main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
  }
  
  #main article {
    margin: 4px;
    padding: 5px;
    border: 1.5px solid rgb(233, 163, 58);
    border-radius: 20px;
    border-radius: 7px;
    background: rgb(123, 230, 52);
    flex: 3 1 50%;
    order: 2;
  }
  
  .azorin {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    border: 1.5px solid grey;
    border-radius: 20px;
    border-top: 22px solid black;
    padding: 2px;
  }
  #main nav {
    margin: 4px;
    padding: 5px;
    border: 1.5px solid grey;
    border-radius: 20px;
    border-radius: 7px;
    background: rgb(90, 240, 215);
    flex: 1 6 25%;
    order: 1;
  }
  #main .cuadro p {
    width: 300px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 12px;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  h2 {
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: right;
    min-height: 30px;
    height: 40px;
  }  
  #main aside {
  margin: 4px;
  padding: 5px;
  border: 1.5px solid grey;
  border-radius: 20px;
  border-radius: 7px;
  background: rgb(108, 176, 240);
  flex: 1 6 25%;
  order: 3;
}
h4 {
  text-align: center;
}

header,
footer {
  font-size: 18px;
  text-align: center;
  display: block;
  margin: 5px;
  padding: 5px;
  min-height: 70px;
  border: 1.5px solid grey;
  border-radius: 20px;
  border-radius: 7px;
  background: rgb(234, 179, 245);
}